### Pour désactiver la coloration des logs
### NO_COLOR=true 

### Minio 
S3_BUCKET_NAME_RAW=juritcom-test-bucket
S3_BUCKET_NAME_PDF=juritcom-archive-pdf
S3_BUCKET_NAME_DELETION=juritcom-deletion-bucket
S3_URL=http://bucket:9000 
S3_ACCESS_KEY=xxx
S3_SECRET_KEY=xxx
S3_REGION=eu-west-paris-1
S3_BUCKET_NAME_NORMALIZED=juritcom-test-bucket

### DOC à adapter les valeurs
DOC_LOGIN=xxx
DOC_PASSWORD=xxx

### App
PORT=3010

### CERTIFICATS
## Web server's private key and certificate signing request (CSR)
PATH_SERVER_KEY=./secrets/dev/server-key.pem
PATH_SERVER_CERT=./secrets/dev/server-cert.pem
## Client private key and certificate signing request (CSR)
PATH_CLIENT_KEY=./secrets/dev/client-key.pem
PATH_CLIENT_CERT=./secrets/dev/client-cert.pem
## CA's private key and self-signed certificate
PATH_CA_KEY=./secrets/dev/ca-key.pem
PATH_CA_CERT=./secrets/dev/ca-cert.pem
## Generate fake tcom client private key and certificate signing request (CSR)
PATH_TCOM_CLIENT_KEY=./secrets/dev/tcom-client-key.pem
## Fake tcom CA's private key and self-signed certificate
PATH_TCOM_CA_KEY=./secrets/dev/tcom-key.pem
PATH_TCOM_CA_CERT=./secrets/dev/tcom-cert.pem

### USE_AUTH = basic | oauth
USE_AUTH='basic'

OAUTH_PROVIDER_URL='http://localhost:3000'
OAUTH_CLIENT_ID='xxx'
OAUTH_CLIENT_SECRET='xxx'
OAUTH_TOKEN_URL='http://localhost:3000/token'

## PDF STORAGE
AV_PDF_PATH=./AV_PDF_PATH
## PDF FILENAME SEPARATOR
S3_PDF_FILE_NAME_SEPARATOR=_-_-_-_
## CRON TIME (to update)
S3_ARCHIVE_SCHEDULE='0 18 * * * *'
